
.events {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 100px;
}

.createEventButton{
	position: fixed;
	bottom: 3%;
	right: 3%;
	color: #EAC435;
	background-color: #13293D;
	padding: 1rem;
	height: 2em;
	width: 2em;
	border-radius: 50%;
}

.search {
	position: fixed;
	top: 1rem;
	right: 1rem;
	color: #EAC435;
}

.searchInput {
	margin: 5px;
	border: none;
	border-radius: 30px;
	height: 1.5rem;
	padding: 0px 4px;
}